<div class="post-item">
  <span class="header">
    {{#if thumbnailUrl}}
      <img class="post-thumbnail" src="{{thumbnailUrl}}"/>
    {{/if}}
    <a class="title" href="{{postUrl}}" target="_blank">{{title}}</a>

    <div class="post-meta">
    {{#if domain}}
      <a class="post-domain" href="">{{domain}}</a>&nbsp;・&nbsp;
    {{/if}}
    <span class="post-submitted">By <a href="{{profileUrl}}" class="comment-link" target="_blank">{{authorName}}</a></span>&nbsp;・&nbsp;
    <a class="pull-right" href="{{postUrl}}" class="comment-link" target="_blank">{{commentCount}} Comments</a>
    </div>
  </span>

  {{#if body}}
  <div class="post-body">   
    {{{htmlBody}}}
  </div>
  {{/if}}

</div>

