<span class="heading">
<a href="{{profileUrl}}">{{comment.author}}</a>
left a new comment on 
<a href="{{postLink}}">{{post.title}}</a>:
</span>

{{{body}}}

<a href="{{postCommentUrl}}" class="action-link">Reply</a><br/><br/>