<div class="title" style="margin-bottom: 10px !important">New Comment!</div>
<a href="{{profileUrl}}">{{comment.author}}</a> commented on <a href="{{postUrl}}">{{post.title}}</a>:
<div class="post-body">{{{body}}}</div>
<a href="{{postCommentUrl}}" class="button">Reply to this comment</a>